tmp
/JolieAmqpTest/nbproject/private/
/JolieAmqpTest/build/
/JolieAmqpTest/dist/
/JolieAmqpTest/jolie-src/extensions/dbus/build/
/JolieAmqpTest/jolie-src/extensions/dbus/dist/
/JolieAmqpTest/jolie-src/extensions/dbus/nbproject/private/
/JolieAmqpTest/jolie-src/extensions/http/build/
/JolieAmqpTest/jolie-src/extensions/http/dist/
/JolieAmqpTest/jolie-src/extensions/soap/build/
/JolieAmqpTest/jolie-src/extensions/soap/dist/
/JolieAmqpTest/jolie-src/extensions/soap/nbproject/private/
/JolieAmqpTest/jolie-src/extensions/sodep/build/
/JolieAmqpTest/jolie-src/extensions/sodep/dist/
/JolieAmqpTest/jolie-src/javaServices/coreJavaServices/build/
/JolieAmqpTest/jolie-src/javaServices/coreJavaServices/dist/
/JolieAmqpTest/jolie-src/javaServices/coreJavaServices/nbproject/private/
/JolieAmqpTest/jolie-src/javaServices/monitorJavaServices/build/
/JolieAmqpTest/jolie-src/javaServices/monitorJavaServices/dist/
/JolieAmqpTest/jolie-src/javaServices/monitorJavaServices/nbproject/private/
/JolieAmqpTest/jolie-src/jolie/build/
/JolieAmqpTest/jolie-src/jolie/dist/
/JolieAmqpTest/jolie-src/jolie/nbproject/private/
/JolieAmqpTest/jolie-src/lib/jolie-xml/build/
/JolieAmqpTest/jolie-src/lib/jolie-xml/dist/
/JolieAmqpTest/jolie-src/lib/xsom/build/
/JolieAmqpTest/jolie-src/lib/xsom/dist/
/JolieAmqpTest/jolie-src/lib/xsom/nbproject/private/
/JolieAmqpTest/jolie-src/libjolie/build/
/JolieAmqpTest/jolie-src/libjolie/dist/
/JolieAmqpTest/jolie-src/libjolie/nbproject/private/
/JolieAmqpTest/jolie-src/support/jolie-gwt/build/
/JolieAmqpTest/jolie-src/support/jolie-gwt/dist/
/JolieAmqpTest/jolie-src/tools/jolie2dummy/nbproject/private/
/JolieAmqpTest/jolie-src/tools/jolie2surface/nbproject/private/
/JolieAmqpTest/jolie-src/extensions/amqp/dist/
/JolieAmqpTest/jolie-src/extensions/amqp/build/
/JolieAmqpTest/jolie-src/jolie/nbproject/
/JolieAmqpTest/jolie-src/jolie/target/
/JolieAmqpTest/jolie-src/libjolie/nbproject/
/JolieAmqpTest/jolie-src/libjolie/target/
*.log*
